<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PW</title>
</head>
<body>

    <header>
        <h1>Programação Web - a22206007</h1>
        <h2><nav>
            <a href="{% url 'pwsite:index'%}">Index</a>
        </nav></h2>
        <h2><nav>
            <a href="{% url 'pwsite:sobre'%}">Sobre</a>
        </nav></h2>
    </header>

    <main>
      <h2>O que tenho gostado</h2>
      <p>Tenho gostado bastante de aprender sobre python.</p>
      <p>Acho interessante a variedade de coisas que conseguimos fazer com python e a facilidade da linguagem.</p>

      <h2>O que espero aprender</h2>
      <p>Criar sites com a interação de uma base de dados.</p>
      <p>Para isso utilizar python.</p>
    </main>

    <footer>
        <p>&copy; 2024 Programação Web, Universidade Lusófona - Todos os direitos reservados.</p>
    </footer>

</body>
</html>